* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.capsula > h1 {
    color: #d59100;
}

.capsula {
    padding: 10px 25px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text {
    border: solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}

.btnEnviar {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #d59100;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.mensaje {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
}

.title {
    color: #d59100;
}

.genVale {
    color: white;
    border: none;
    background-color: #d59100;
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(255, 153, 0, 0.5);
    font-weight: bolder;
    cursor: pointer;
    transition: ease all 200ms;
}
.genVale:active {
    transform: scale(0.9);
}

.EnvWhats {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transition: ease all 200ms;
}
.EnvWhats:active {
    transform: scale(0.9);
}

.desactivado {
    background-color: #aaaaaa;
    color: rgba(255, 255, 255, 0.62);
    cursor: not-allowed;
}
.activo {
    color: white;
    background-color: #3de942;
    cursor: pointer;
}


.tlf {
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
}